.button {
    width: 287px;
    height: 50px;
    background-color: $button-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border: solid 1px;
    margin: 20px 40px;

}

.button__company {
    width: 287px;
    height: 50px;
    background-color: $button-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border: solid 1px;
    margin-top: 60px;
}