.contacts {
    margin-top: 200px;

    &__title {
        margin-right: 150px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #05CFDC;
        text-shadow: 35px -29px 1px#ECEFF0;
        text-align: right;

    }

    &__wrapper {
        margin-top: 150px;
        display: flex;
        justify-content: center;

    }

    &__form {
        margin-right: 150px;
    }

    &__title-form {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $Primery-color;

        span {
            color: $font-color;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #FFCD4D;
        height: 350px;
        padding-left: 40px;

    }



    &__info-phone {
        display: flex;
        flex-direction: column;
    }

    &__info-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    &__info-phone {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

    }

    &__info-phone {
        color: #072139;


        &:hover {
            color: #072139;
            text-decoration: none;
        }
    }

    &__mode {
        margin-top: 30px;

    }

    &__info-time {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 13px;

        }
    }

    .error {
        border: 1px solid red;


    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 10px;
        padding-left: 30px;
    }

}