.footer {
    margin-top: 100px;
    background-color: #072139;
    min-width: 1600px;

    &__wrapper {
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__logo {
        img {
            min-width: 100%;
        }
    }

    &__list-items {
        list-style: none;

    }

    &__list-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
        color: #FCFCFC;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }



    &__privacy {

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: #FCFCFC;
        }
    }

    &__right {
        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #FCFCFC;
        }
    }

    &__social-right {
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: flex-end;
        padding-bottom: 30px;

    }

    &__social {
        padding: 5px;

        a {
            padding-left: 20px;
        }
    }


}