.slider {
    /*  display: flex; */
    position: relative;
    padding: 0 50px;
    min-width: 0;
    padding: 0 50px;

    &__item {
        img {
            width: 550px;
            height: 750[x];
        }
    }


    .slick-track {
        display: flex;

    }

    .slick-list {
        overflow: hidden;


    }

    .slick-arrow {
        position: absolute;
        margin: -30px 0px 0px 0px;
        top: 90%;
        z-index: 10;
        font-size: 0;
        width: 20px;
        height: 30px;
    }

    .slick-prev {
        left: 0;
        background: url('../../icons/left.png')0 0 / 100% no-repeat;
    }

    .slick-next {
        right: 0;

        background: url('../../icons/right.png') 0 0 / 100% no-repeat;
    }
}

.slidertwo {
    &__item {
        display: flex;
        flex-direction: row;
    }
}