.work {
    &__title {
        padding-top: 100px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $Primery-color;
        text-shadow: 35px -29px 1px#ECEFF0;
    }


    &__items {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 80px;
    }

    &__item {
        display: flex;
        width: 50%;
    }

    &__item--magin {
        padding-left: 150px;
    }

    &__item-text {
        padding-left: 60px;
        max-width: 500px;
        padding-bottom: 80px;
    }

    &__item-text--marg {
        padding-left: 80px;
    }

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    &__item-descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__item-img {
        img {}
    }
}